@import 'index';

.about-page {
  background-color: $main-background-colour-dark;
  width: $default-margin-width;
  margin: auto;
  padding-top: 10vw;
  padding-bottom: 7vw;

  .intro {
    h1 {
      margin: 0;
    }

    .columns {
      display: flex;
      flex-wrap: wrap;

      .left-column {
        width: 65%;
        display: inline-block;
      }

      .right-column {
        width: 35%;
        display: inline-flex;
        justify-content: center;

        img {
          width: 50%;
          height: 100%;
        }
      }
    }

    #subtitle-text {
      margin-bottom: 0;
    }
  }

  .row {
    display: inline-flex;
    align-items: center;

    .row-inner {
      display: inline-flex;
      flex-direction: column;
    }
  }

  #selfie-1, #selfie-3 {
    padding-left: 6vw;
    width: 25%;
  }

  #selfie-2 {
    padding-right: 6vw;
    width: 25%;
  }

  .more-about-me {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-direction: column;

    .left-column {
      width: 33%;
      display: inline-flex;
      margin: auto;
      justify-content: left;

      img {
        width: 80%;
      }
    }

    .right-column {
      width: 67%;
      display: inline-block;
    }
  }

  // Start appear on scroll
  .appear-on-scroll{
    opacity: 0;
    animation-duration: 1.5s;
  }

  .appear-on-scroll.play-animation {
    animation-name: appearOnScroll;
    opacity: 100%;
  }

  @keyframes appearOnScroll {
    from {transform: translateY(2vw); opacity: 0;}
    to {transform: translateY(0); opacity: 100%;}
  }
  // End appear on scroll

  .collapsibles-region {
    .collapsible-header {
      border-bottom: 1px solid $off-white;
      display: flex;
      justify-content: space-between;

      h2 {
        pointer-events: none;
      }

      img {
        width: 3.5%;
        display: block;
        float: right;
      }
    }

    .collapsible-header:hover {
      img {
        animation: animate-arrow;
        animation-direction: normal;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }

    .collapsible-header.active:hover {
      img {
        animation: animate-arrow;
        animation-direction: reverse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }

    @keyframes animate-arrow {
      from {
        transform: translateY(0vw)
      }
      to {
        transform: translateY(0.5vw)
      }
    }

    .collapsible-item {
      display: flex;
      overflow: hidden;
      height: 0;

      .third-columns {
        width: 33%;
        display: inline-block;

        ul {
          li {
            color: $off-white;
            margin-bottom: 1.5vh;

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .link {
      text-decoration-thickness: 1px;
      text-underline-offset: 1px;
    }

    .collapsible-item.active {
      display: flex;
      height: 20vh;
      transition: height 0.65s ease-in-out;
    }

    .collapsible-item.closed {
      display: flex;
      height: 0;
      transition: height 0.65s ease-in-out;
    }

    #after-hours-ul {
      li {
        margin-top: 1vw;
        margin-bottom: 1vw;
      }
    }

    .books-container {
      padding: 1.56vw 0;
      margin: auto;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    #bit-more-about-me-item {
      #second-column {
        padding-left: 10%;
        padding-right: 10%;
      }
    }

    #for-me-design-is-item {
      #second-column {
        padding-left: 7%;
        padding-right: 7%;
      }
    }

    #design-resources-item {
      #second-column {
        padding-left: 11%;
        padding-right: 3%;
      }
    }
  }

  .outro {
    margin-top: 16vh;
  }

  .underline {
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 1px;
  }
}