@import 'index';

.access-page {
  background-color: $off-white;
  animation-name: temp;
  animation-duration: 3s;

  @keyframes temp {
    from {opacity: 0}
    to {opacity: 1}
  }

  .access-header-wrapper {
    height: 47vw;
    z-index: 100100;
    position: relative;
    padding-top: 6vw;
  }

  // Since this page is white background, must alter all text to be black text
  h1, h2, h3, h4, p, ul {
    color: black;
    margin: 0;
  }

  .access-header {
    width: 100%;
  }

  .overview, .ideation, .creation, .iteration, .organization, .impact-inner, .reflection {
    width: $default-case-study-margin;
    margin: auto;
  }

  .left-column-42 {
    width: 42%;
    box-sizing: border-box;
    display: inline-block;
  }

  .right-column-58 {
    width: 58%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    #component-categorization, #file-organization-2 {
      width: initial;
      margin: auto;
    }
  }

  .row-42-58 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.125vw;
  }

  .ideation {
    .row {
      margin-top: 2.5vw;

      .left-column {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        padding-right: 0;
      }

      .right-column {
        width: 50%;
        float: right;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 5%;
      }

      .emoji {
        margin: auto;
      }
    }

    .north-star-row {
      display: flex;
      flex-wrap: wrap;

      .spacing-div {
        display: flex;
      }

      .left-column, .center-column, .right-column {
        width: 33%;
        box-sizing: border-box;
        display: inline-block;
      }

      .left-column {
        padding-right: 2.5%;
      }

      .center-column {
        padding: 0 2.5%;
      }

      .right-column {
        padding-left: 2.5%;
      }
    }
  }

  #creation-flowchart {
    width: 100%;
  }

  .iteration {
    #old-design-specs, #new-design-specs {
      width: 100%;
    }
  }

  .organization {
    #onboarding {
      width: 100%;
    }
  }

  .impact {
    background-color: $black;
    padding-top: 1.56vw;
    margin-top: 2.07vw;
    padding-bottom: 3.12vw;

    .impact-inner {
      margin-top: 3.125vw;
      background-color: $black;

      p, .cs-body {
        color: $white;
      }

      .cs-title {
        margin-top: 0;
      }

      .impact-left, .impact-right {
        display: inline-flex;
        flex-direction: column;
      }

      .impact-left {
        width: 63%;
      }

      .impact-right {
        width: 37%;
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-bottom: 0.9375vw;
        }
      }

      .impact-number {
        font-family: $inter-font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 1.4vw;
        line-height: 150%;
        display: inline-block;
        padding-right: 0.2vw;
      }
    }
  }

  #final-image {
    width: 100%;
    padding-bottom: 6.4vw;
    z-index: 100100;
    position: relative;
  }

  // Attempting highlight
  .blue-background {
    background-color: $light-blue;
    margin: 0;
    padding-bottom: 0;
    display: inline-block;

    .highlighted-text {
      margin: 20px 0 0 0;
    }
  }

  .highlight{
    width: max-content;
    background-size: 200% auto;
    background-image: linear-gradient(to right, $off-white 50%, $light-blue 50%);
    background-position: 0 0;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: initial;
  }

  .highlight.active{
    animation-name: highlight;
  }

  @keyframes highlight {
    from {background-position: 0 0;}
    to {background-position: -100% 0;}
  }

  .figma-embed-wrapper {
    width: 100%;
    height: 40vw;
  }
}