@import "index";

.access-colours {
  h3, h4 {
    border-color: $access-blue !important;
  }
}

.aprio-colours {
  h3, h4 {
    border-color: $aprio-orange !important;
  }
}

.finwell-colours {
  h3, h4 {
    border-color: $finwell-yellow !important;
  }
}

.solearn-colours {
  h3, h4 {
    border-color: $solearn-blue !important;
  }
}

.bookbuds-colours {
  h3, h4 {
    border-color: $bookbuds-pink !important;
  }
}

.recharge-colours {
  h3, h4 {
    border-color: $recharge-purple !important;
  }
}

.anchor-links-wrapper {
  position: fixed;
  width: 20%;
  top: 22.5%;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 100000;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;

  .group {
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    pointer-events: all;
    width: fit-content;

    h3 {
      font-weight: 300;
      color: black;
    }

    h4 {
      font-weight: 200;
      margin-top: 0.6vw;
      padding-left: 1vw;
      margin-bottom: 0.6vw;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      display: none;
      color: black;
    }
  }

  .group.active {
    h3 {
      font-weight: 700;
    }

    h4 {
      opacity: 1;
      transition: opacity 0.5s ease-in-out, color 0.25s ease-in-out;
      display: block;
    }
  }

  .group:hover {
    h3 {
      font-weight: 700;
    }
  }

  .subgroup.active, .subgroup:hover {
    border-left: 3px solid black;
    font-weight: 600;
    transition: none;
  }

  .h3-group, .subgroup {
    transition: color 0.25s ease-in-out;
    width: fit-content;

  }

  .h3-group.invert, .subgroup.invert {
    color: $off-white;
    border-color: $off-white;
    transition: color 0.25s ease-in-out;
  }
}

.anchor-links-wrapper.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  .group {
    pointer-events: none;
  }
}