@import url('https://fonts.googleapis.com/css2?family=Manjari');
@import url('https://fonts.googleapis.com/css2?family=Manrope');

$card-width: 640px;
$card-top-height: 460px;
$card-bottom-height: 220px;

.case-study-card {
  margin-bottom: 80px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  .case-study-card-inner-area {
    width: 640px;
    height: 680px;
    border-radius: 50px;
    margin: auto;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    .case-study-card-top {
      width: $card-width;
      height: $card-top-height;

      .background {
        border-radius: 50px 50px 0 0;
        width: $card-width;
        height: $card-top-height;
        margin: auto;
        transition: all 0.5s ease-in-out;
      }

      .card-image {
        position: absolute;
        top: 7%;
        left: 3%;
      }
    }

    .case-study-card-bottom {
      width: $card-width;
      height: $card-bottom-height;
      margin: auto;
      background-color: white;
      border-radius: 0 0 50px 50px;
      padding: 5px 30px 36px 30px;
      box-sizing: border-box;

      .card-header {
        font-family: Manjari, Manrope, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #0B2CB8;
      }

      .card-title {
        font-family: Manjari, Manrope, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: black;
      }

      .card-description {
        font-family: Manjari, Manrope, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: black;
        display: flex;
      }
    }
  }
}



#finwell-case-study-card:hover {
  top: -10px;
  transition: all 0.5s ease-in-out;
}

#pivot-case-study-card:hover {
  top: -10px;
  transition: all 0.5s ease-in-out;
}

#sponsor-circle-case-study-card:hover {
  top: -10px;
  transition: all 0.5s ease-in-out;
}

#recharge-case-study-card:hover {
  top: -10px;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1700px){
  .case-study-card {
    .case-study-card-top{
      width: $card-width * 0.85;
      height: $card-top-height * 0.85;

      .background {
        width: $card-width * 0.85;
        height: $card-top-height * 0.85;
      }
    }

    .case-study-card-bottom {
      width: $card-width * 0.85;
      height: $card-bottom-height * 0.85;
    }
  }
}

@media screen and (max-width: 1525px) {
  .case-study-card {
    .case-study-card-top {
      width: $card-width * 0.75;
      height: $card-top-height * 0.75;

      .background {
        width: $card-width * 0.85;
        height: $card-top-height * 0.85;
      }
    }

    .case-study-card-bottom {
      width: $card-width * 0.75;
      height: $card-bottom-height * 0.75;
    }
  }
}
