@import 'index';

.finwell-page {
  margin: auto;
  background-color: $off-white;
  animation-name: temp;
  animation-duration: 3s;

  h1, h2, h3 {
    color: black;
  }

  .cs-body, .cs-subtitle, .cs-subtitle-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mid-align-title {
    text-align: center;
  }

  .sub-anchor-area {
    position: initial;
  }

  .intro-wrapper {
    height: 47vw;
    z-index: 100100;
    position: relative;
    padding-top: 6vw;
  }

  #header-image {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .appear-on-scroll {
    opacity: 0;
    animation-duration: 1.5s;
  }

  .appear-on-scroll.active {
    animation-name: appearOnScroll;
    opacity: 100%;
  }

  @keyframes appearOnScroll {
    from {
      transform: translateY(25%);
      opacity: 0;
      z-index: 2;
      position: relative;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
      z-index: 2;
      position: relative;
    }
  }

  .section-header {
    text-align: center;
    font-family: $manrope-font-family;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 2.7vw;
  }

  .section-subheader {
    font-family: $manrope-font-family;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 2.0vw;

    strong {
      color: $access-blue;
      font-weight: 700;
    }
  }

  .overview, .process, .discovery, .design, .test-and-iterate, .reflection {
    margin-left: auto;
    margin-right: auto;
    width: $default-case-study-margin;
  }

  .overview {
    .three-column-row {
      display: flex;
      flex-wrap: wrap;

      .spacing-div {
        display: flex;
      }

      .left-column, .center-column, .right-column {
        width: 33%;
        box-sizing: border-box;
        display: inline-block;
      }

      .left-column {
        padding-right: 2.5%;
      }

      .center-column {
        padding: 0 2.5%;
      }

      .right-column {
        padding-left: 2.5%;
      }
    }
  }

  .process {
    .column {
      display: inline-block;
      width: 25%;
      box-sizing: border-box;
      vertical-align: top;

      ul {
        padding-left: 20px;
      }
    }
  }

  .designed-solution {
    width: $default-case-study-margin;
    margin: auto;

    .solution-title {
      font-family: $manrope-font-family;
      font-weight: 700;
      font-size: 2.5vw;
      line-height: 150%;
    }

    .solution-subtitle {
      font-family: $manrope-font-family;
      font-weight: 700;
      font-size: 1.8vw;
      line-height: 150%;
      color: $access-blue;
    }

    .solution-text {
      font-family: $manrope-font-family;
      font-weight: 400;
      font-size: 1.3vw;
      line-height: 150%;
    }

    #intelligent-budgeting-bubbles, #purchase-tracking-bubbles, #actionable-insights-bubbles {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%;
    }

    #intelligent-budgeting-bubbles {
      transform: translateY(-20%);
    }

    #purchase-tracking-bubbles {
      transform: translateY(-25%);
    }

    #actionable-insights-bubbles {
      transform: translateY(33%);
    }

    .intelligent-budgeting, .purchase-tracking, #actionable-insights-container {
      z-index: 2;
      position: relative;
    }

    .intelligent-budgeting {
      display: flex;

      .left-column {
        width: 40%;
        display: inline-block;
        box-sizing: border-box;

        img {
          margin-left: -20%;
          width: 100%;
        }
      }

      .right-column {
        width: 60%;
        display: inline-block;
        box-sizing: border-box;
        padding-top: 6vw;

        img {
          width: 65%;
          padding-top: 4vw;
          max-width: 30vw;
          float: right;
        }
      }
    }

    .purchase-tracking {
      display: flex;

      .left-column {
        width: 40%;
        display: inline-block;
        box-sizing: border-box;

        img {
          margin-left: -20%;
          width: 100%;
        }
      }

      .right-column {
        width: 60%;
        padding-top: 8vw;
        display: inline-block;
        box-sizing: border-box;
      }
    }

    #actionable-insights-container {
      margin-top: 10%;

      .actionable-insights {
        display: flex;

        .left-column {
          width: 60%;
          padding-top: 8vw;
          display: inline-block;
          box-sizing: border-box;
        }

        .right-column {
          width: 40%;
          display: inline-block;
          box-sizing: border-box;

          img {
            width: 100%;
          }
        }
      }
    }

    .link-to-prototype-container {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      margin-top: 6vw;

      .prototype-button {
        box-sizing: border-box;

        p {
          line-height: 100%;
          margin-top: 0;
          margin-bottom: 0;
        }

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 2.4vw;

        p {
          /* Jump to Prototype */
          font-family: $manrope-font-family;
          font-style: normal;
          font-weight: 400;
          font-size: 1vw;
          line-height: 100%;
          max-height: 2.7vw;
          color: $blackv2;
        }
      }
    }

    .prototype-button {
      position: relative;
      display: inline-flex;
      perspective: 1000px;
    }

    .prototype-button p {
      transform-style: preserve-3d;
      transform: translateZ(-0.9766vw);
      transition: transform 0.4s;
    }

    .prototype-button p:before,
    .prototype-button p:after {
      padding: 0.4vw 1.2vw;
      height: 2.734vw;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .prototype-button p:before {
      color: $blackv2;
      background: $white;
      transform: rotateY(0deg) translateZ(1.367vw);
      border: 2px solid $blackv2;
    }

    .prototype-button p:after {
      background-color: $blackv2;
      color: $white;
      transform: rotateX(90deg) translateZ(3.125vw);
    }

    .prototype-button p:hover {
      transform: translateZ(0vw) rotateX(-88deg);
    }

    .prototype-button p:before, .prototype-button p:after {
      content: "Skip to Prototype";
    }
  }

  .discovery {
    z-index: 2;

    .secondary-research-row {
      display: flex;
      flex-wrap: wrap;

      .spacing-div {
        display: flex;
      }

      .left-column, .center-column, .right-column {
        width: 33%;
        box-sizing: border-box;
        display: inline-block;
      }

      .left-column {
        padding-right: 5%;
      }

      .center-column {
        padding: 0 5%;
      }

      .right-column {
        padding-left: 5%;
      }
    }

    .emoji {
      display: block;
      width: 5vw;
    }

    ul {
      margin-top: 5px;
    }

    ol {
      margin-top: 0;
    }

    .grey-text {
      color: #828282;
    }

    .row {
      display: flex;
      margin-bottom: 4%;
    }

    .left-column {
      width: 50%;
      box-sizing: border-box;
      display: inline-block;
      float: left;
      padding-right: 6%;
    }

    .right-column {
      width: 50%;
      box-sizing: border-box;
      display: inline-block;
      float: right;
      padding-left: 6%;
    }

    #competitive-analysis-image {
      width: 100%;
    }
  }

  .design {
    img {
      width: 100%;
      margin: auto;
    }

    .user-stories-container {
      display: flex;

      .left-column {
        width: 30%;
        padding-right: 4vw;
      }

      .right-column {
        width: 60%;
      }
    }
  }

  .highlight {
    width: max-content;
    background-size: 200% auto;
    background-image: linear-gradient(to right, $off-white 50%, $light-finwell-yellow 50%);
    background-position: 0 0;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: initial;
  }

  .highlight.active {
    animation-name: highlight;
  }

  @keyframes highlight {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  .style-guide-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-scrolling: auto;
    padding-bottom: 8px;
  }

  .style-guide-image {
    border-left: 5px solid black;
  }

  .large-number-font {
    font-family: $manrope-font-family;
    font-size: 2.2vw;
    line-height: 200%;
    font-style: normal;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
  }

  .figma-embed-wrapper {
    width: 100%;
    height: 40vw;
  }
}