@import 'index';

.footer {
  display: block;
  background-color: $main-background-colour-dark;
  width: 100%;
  padding: 0.4vw 0 1.56vw 0;
  margin: auto;

  .center-column {
    width: $default-margin-width;
    border-top: 1px solid $off-white;
    margin: auto;
    display: flex;
    padding-top: 3.25vw;

    .large-text {
      display: inline-block;
      font-family: $manrope-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 150%;
      color: $off-white;
      margin-top: 0;
      margin-bottom: 0;
    }

    .medium-text {
      font-family: $manrope-font-family;
      font-size: 0.9vw;
      line-height: 150%;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0.2vw;
      color: $off-white;

      a {
        color: $off-white;
        cursor: none;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
      }
    }

    .small-text {
      font-size: 0.85vw;
      line-height: 150%;
      font-weight: 300;
      margin-top: 0;
      color: $grey-9c9c9c;
    }

    .typewrite-footer {
      display: inline-flex;
      padding-left: 0.3vw;
    }

    .image-container {
      display: flex;
      position: relative;
    }

    .left-column {
      width: 60%;
      flex-direction: column;
      align-items: flex-start;
    }

    .right-column {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }

  #linkedin-icon-light, #mail-icon-light, #instagram-icon-light {
    display: none;
  }

  .logo {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 1.5vw;

    a {
      height: max-content;
    }

    img {
      width: fit-content;
    }
  }

  .logo1 {
    transform: rotateY(0deg) rotateX(0deg) translateZ(-2.75vw);
    transform-style: preserve-3d;
    transition: transform 0.25s ease-in-out;
    position: relative;
    height: 3.0vw;
    width: 3.0vw;
    left: 0;
    z-index: 99;
  }

  .logo2 {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(89deg) translateZ(1.36vw);
    transition: transform 0.2s ease-in-out;
    height: 3.0vw;
    width: 3.0vw;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .logo:hover{
    .logo1 {
      transform: translateZ(-2vw) rotateY(0deg) translateY(1.4vw) rotateX(-90deg);
      transition: transform 0.2s ease-in-out;
    }

    .logo2 {
      transform: translateZ(-2vw) rotateY(0deg) rotateX(0deg);
      transition: transform 0.25s ease-in-out;
    }
  }

  @media screen and (max-width: 1600px){
    .logo2 {
      transform: rotateX(90deg) translateZ(1.35vw);
    }
  }
}

.footer.light-mode {
  background-color: $off-white;

  .large-text, .medium-text, .small-text {
    color: $black;

    a {
      color: $black;
      cursor: none;
    }
  }

  .center-column {
    border-top: 1px solid $black;
  }

  #linkedin-icon-light, #mail-icon-light, #instagram-icon-light {
    display: block;
  }

  #linkedin-icon, #mail-icon, #instagram-icon {
    display: none;
  }

  .colour-gradient {
    background: linear-gradient(358.88deg, #343061 2.34%, #6E4B74 23.35%, #C27193 42.85%, #EE988E 62.32%, #F5BB95 79.57%, #F5D6A2 97.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #email-copied {
    color: $black !important;
  }
}

@media screen and (max-width: $mobile-view-max-width){
  .footer {
    .center-column {
      width: $default-mobile-margin-width;
    }
  }
}