@import 'index';

.footer {
  display: block;
  background-color: $main-background-colour-dark;
  width: 100%;
  padding: 0.4vw 0 1.56vw 0;
  margin: auto;

  .center-column {
    width: $default-margin-width;
    border-top: 1px solid $off-white;
    margin: auto;

    .large-text, .medium-text, .small-text {
      color: $off-white;
      text-align: center;
    }

    .large-text {
      margin-top: 3.25vw;
      margin-bottom: 3.25vw;
    }

    .medium-text {
      font-family: $manrope-font-family;
      font-size: max(20px, 1.25vw);
      line-height: 150%;
      margin-top: 5vw;
      margin-bottom: 2.25vw;
      font-weight: 300;
    }

    .small-text {
      font-size: max(16px, 1vw);
      line-height: 150%;
      font-weight: 300;
    }

    .image-container {
      display: flex;
      justify-content: space-evenly;
      max-width: 500px;
      margin: auto;
      
      img {
        width: 11%;
      }
    }
  }

  #linkedin-icon-dark, #mail-icon-dark {
    display: none;
  }
}

.footer.light-mode {
  background-color: $off-white;

  .large-text, .medium-text, .small-text {
    color: $black;
  }

  .center-column {
    border-top: 1px solid $black;
  }

  #linkedin-icon-dark, #mail-icon-dark {
    display: block;
  }

  #linkedin-icon, #mail-icon {
    display: none;
  }
}

@media screen and (max-width: $mobile-view-max-width){
  .footer {
    .center-column {
      width: $default-mobile-margin-width;
    }
  }
}