@import "index";

.gallery {
  position: relative;

  .gallery-image {
    width: 100%;
  }

  .images-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .bottom-circles-container {
    position: absolute;
    bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;

    .gallery-circle {
      margin-left: 0.5vw;
      margin-right: 0.5vw;
    }
  }

  .left-arrow-container, .right-arrow-container {
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-in-out;
  }

  .left-arrow-container {
    left: 3%;
  }

  // Change this if the exported arrow opacity changes... This is to match left arrow already having opacity...
  .right-arrow-container {
    opacity: 0.85;
  }

  .left-arrow-container:hover {
    transform: translateX(-10%);
    transition: transform 0.3s ease-in-out;
  }

  .right-arrow-container {
    right: 3%;
  }

  .right-arrow-container:hover {
    transform: translateX(10%);
    transition: transform 0.3s ease-in-out;
  }
}