@import url('https://fonts.googleapis.com/css2?family=Manjari');
@import url('https://fonts.googleapis.com/css2?family=Manrope');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display');

// 0. Margins
$default-margin-width: 65%;
$default-mobile-margin-width: 95%;
$mobile-view-max-width: 600px;
$default-small-margin-width: 65%;

// Change this value to adjust margin amounts for below
$scaling-value: 0.04;

html, body {
  cursor: none;
}

body {
  overscroll-behavior: none;
}

.knowbie-page, .pivot-page, .sponsor-circle-page, .playground-page {
  h2 {
    margin: auto;
    text-align: center;
  }

  height: 55vh;
  background-color: black;
  padding-top: 20vh;
  width: $default-margin-width;
  margin: auto;
}

// Bottom Margins, currently only used for access
.margin-bottom-12px {
  margin-bottom: (12vw * $scaling-value) !important;
}

.margin-bottom-16px {
  margin-bottom: (16vw * $scaling-value) !important;
}

.margin-bottom-24px {
  margin-bottom: (24vw * $scaling-value) !important;
}

.margin-bottom-32px {
  margin-bottom: (32vw * $scaling-value) !important;
}

.margin-bottom-36px {
 margin-bottom: (36vw * $scaling-value) !important;
}

.margin-bottom-40px {
  margin-bottom: (40vw * $scaling-value) !important;
}

.margin-bottom-60px {
  margin-bottom: (60vw * $scaling-value) !important;
}

.margin-bottom-80px {
  margin-bottom: (80vw * $scaling-value) !important;
}

.margin-bottom-100px {
  margin-bottom: (100vw * $scaling-value) !important;
}

.margin-bottom-120px {
  margin-bottom: (120vw * $scaling-value) !important;
}

.margin-bottom-160px {
  margin-bottom: (160vw * $scaling-value) !important;
}

.margin-bottom-240px {
  margin-bottom: (240vw * $scaling-value) !important;
}

// Right Paddings
.right-padding-28px {
  padding-right: (28vw * $scaling-value) !important;
}

// 1. Colours
$off-white: #FAFAFA;
$white: #ffffff;
$finwell-blue: #0B22B8;
$black: #000000;
$off-black: #101010;
$lilac: #DDD3FC;
$background-color: #FCF9FF;
$light-blue: #BACBFF;
$grey-999999: #999999;
$light-aprio-orange: #FFDFC7;
$aprio-orange: #FF6D00;

$main-background-colour-dark: $black;

.background {
  background-color: $main-background-colour-dark;
}

// 2. Fonts
$base-font-family: Manjari, Manrope, Verdana, sans-serif;
$manrope-font-family: Manrope, sans-serif;
$major-mono-display-font-family: Major Mono Display, sans-serif;
$inter-font-family: Inter, sans-serif;

.body-font {
  font-family: $base-font-family;
  font-size: max(1.5vw, 24px);
  line-height: max(2.25vw, 36px);
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 6vw;
  line-height: 110%;
  color: $off-white;
}

h2 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 150%;
  color: $off-white;
}

h3 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 150%;
  color: $off-white;
}

.b0 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8vw;
  line-height: 150%;
  color: $grey-999999;
}

.b1-light {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1.35vw;
  line-height: 150%;
  color: $grey-999999;
}

.b2 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 150%;
  color: $off-white;
}

.b3 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 200%;
  color: $grey-999999;
}

.b4 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 200%;
  color: $grey-999999;
}

.b5 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 130%;
  letter-spacing: 0.1em;
}

.b6 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 150%;
  color: $off-white;
}

.manrope-24px-300weight {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw; // Scaled up
  line-height: 150%;
  color: $off-white;
}

// Only for case studies
.cs-title {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 1.55vw;
  line-height: 150%;
  color: $black;
}

.cs-subtitle {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 1.05vw;
  line-height: 150%;
  color: $black;
}

.cs-subtitle-2 {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 150%;
  color: $black;
}

.cs-body {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 200%;
  color: $black;
}

.cs-manrope {
  font-family: $manrope-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7vw;
  line-height: 200%;
  color: $black;
}

.no-bold {
  font-weight: 300 !important;
}
// End of only for case studies

.blue-text {
  color: $finwell-blue;
}

.orange-text {
  color: $aprio-orange;
}

.off-white-text {
  color: $off-white;
}

.colour-gradient {
  font-weight: 600 !important;
  background: linear-gradient(91.27deg, #AE74B8 24.64%, #C27193 40.34%, #EE988E 55.22%, #F5BB95 70.99%, #F5D6A2 88.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-font-colour {
  color: #F5D6A2;
  font-weight: 300;
  font-style: normal;
}

.off-white-strong-font-style {
  color: $off-white;
  font-weight: 500;
  font-style: normal;
}

// 3. Buttons

// Hollow Buttons
.secondary-button {
  background-color: $background-color;
  border: 1px solid $black;
  border-radius: 100px;
  padding: 22px 48px 18px 48px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  p {
    margin: 0;
    padding: 0;
  }
}

.secondary-button:hover {
  background-color: $lilac;
  transition: all 0.25s ease-in-out;
}

// 4. Shared Components

#email-copied {
  color: $white !important;
  position: absolute;
  margin-top: 3.5vw;
  margin-right: -0.1vw;
  right: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#about-email-copied {
  color: $white !important;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  margin-top: -0.7vw;
  margin-left: 11.5vw;
}

// Start intro fade in
.intro-fade {
  position: relative;
  left: 0;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
}

.intro-fade.active {
  opacity: 100%;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {transform: translateY(-1vw);
    opacity: 0;}
  to {transform: translateY(0%);
    opacity: 100%;}
}
// End intro fade in

// Start of explore selected case studies line - https://codepen.io/pavelderschleifer/pen/jrXpgq
#wrapper {
  display: table;
  width:100%;
  height:100%;
}

#wrapper-inner {
  display: table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 6vh;
  text-align:center;
  margin-bottom: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#scroll-title {
  display: block;
  margin-top: 7.5vh;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#scroll-down::before {
  -webkit-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */

  -moz-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */

  -o-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */

  animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */

  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 11vh;
  background: $off-white;
  content: ' ';
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
// End of explore selected case studies line

// Start of back to top
#back-to-top {
  position: fixed;
  margin-left: 96vw;
  bottom: 3vh;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  opacity: 0;

  display: flex;
  place-items: center;

  background-color: $off-white;
  transform: translateY(0%);
  transition: all ease-in-out 0.5s;
  transition-property: transform, background-color;
  pointer-events: none;

  #back-to-top-arrow {
    width: 100%;
    height: 100%;
  }
}

#back-to-top:hover {
  transform: translateY(-22%);
}

#back-to-top.active {
  animation-name: animate-back-to-top-appear;
  animation-duration: 0.25s;
  opacity: 1;
  pointer-events: initial;
}

#back-to-top.hidden {
  animation-name: animate-back-to-top-hide;
  animation-duration: 0.25s;
  opacity: 0;
  pointer-events: none;
}

@keyframes animate-back-to-top-appear {
  from {opacity: 0; transform: translateY(5vh)}
  to {opacity: 1; transform: translateY(0)}
}

@keyframes animate-back-to-top-hide {
  from {opacity: 1; transform: translateY(0)}
  to {opacity: 0; transform: translateY(5vh)}
}
// End of back to top

// Boiler Plate

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
