.progress-container {
  left:0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
  content: "";
  display: table;
  table-layout: fixed;
  opacity: 1;
  z-index: 149;
}

.progress-bar {
  opacity: 1;
  width: 0%;
  float: left;
  height: 100%;
  z-index: 150;
  max-width: 100%;
  background-color: black;
  -webkit-transition: width .1s ease;
  -o-transition: width .1s ease;
  transition: width .1s ease;
}