@import 'index';

.background {
  background-color: $background-color;
}

.work-page {
  //width: $default-margin-width;
  padding: 30px 0 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;

  .down-arrow {
    z-index: 11000;
    height: fit-content;
    width: fit-content;
    transform: scale(0.5);
    position: fixed;
  }

  // Beginning of area for intro sequence - should be a component later on
  .welcome-wrapper {
    height: 150vh;

    #down-arrow-first {
      top: 83%;
      left: 90%;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    #down-arrow-first.active {
      opacity: 0;
    }

    .welcome-inner {
      height: 125vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      top: 0;

      .welcome-title {
        font-size: 7vw;
        font-family: $manrope-font-family;
        display: block;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10001;
        animation-duration: 1.8s;
      }

      .welcome-title.active {
        left: 0;
        opacity: 0;
        animation-name: shift-left;
      }

      .welcome-text {
        //font-size: 60px;
        //font-family: $manrope-font-family;
        display: block;
        z-index: 10300;
        animation-duration: 3s;
        position: fixed;
        transform: translateX(-10%);
        top: 18%;
        opacity: 0;

        //font-size: max(32px, 6vw);
        //font-family: $base-font-family;
        //color: black;
        //font-style: normal;
        //font-weight: normal;
        //line-height: 1em;
        //margin: 0;

        #down-arrow-second {
          left: 45%;
          top: 110%;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }

        #down-arrow-second.active {
          opacity: 1;
        }
      }

      .welcome-text.active {
        display: block;
        animation-name: fadeIn;
        top: 15%;
        transform: translateX(0%);
        opacity: 1;
        position: fixed;
      }

      #underline {
        width: 97%;
      }

      @keyframes fadeIn {
        from {transform: translateX(-10%); opacity: 0}
        to {transform: translateX(0%); opacity: 100%}
      }

      .right-background {
        background-color: #f8f8f8;
        height: 125vh;
        display: inline-flex;
        width: 50%;
        box-sizing: border-box;
        animation-duration: 2s;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;

      }

      .right-background.active {
        width: 100%;
        animation-name: right-background-fill;
      }

      .left-background {
        background-color: $lilac;
        height: 125vh;
        display: inline-flex;
        width: 50%;
        box-sizing: border-box;
        animation-duration: 2s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;

      }

      .left-background.active {
        width: 0;
        animation-name: left-background-fill;
      }

      @keyframes shift-left {
        from {left: 50%; opacity: 100%}
        to {left: 0; opacity: 0;}
      }

      @keyframes left-background-fill {
        from {width: 50%;}
        to {width: 0;}
      }

      @keyframes right-background-fill {
        from {width: 50%;}
        to {width: 100%;}
      }
    }

    .row {
      display: flex;
      flex-direction: column;
      z-index: 10300;
      padding-left: 10%;
      padding-right: 10%;
    }

    #profile-row {
      flex-direction: initial;
      align-items: center;
    }
  }

  // End of area for welcome

  .foreground {
    z-index: 10100;
    background-color: $background-color;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;

    #h1 {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .row {
    display: flex;
    margin-bottom: 20px;

    .header-area {
      width: 75%;
      box-sizing: border-box;
      display: block;
      margin: auto;
      padding-bottom: 15px;

      .welcome-header {
        font-size: max(32px, 6vw);
        font-family: $base-font-family;
        color: black;
        font-style: normal;
        font-weight: normal;
        line-height: 1em;
        margin: 0;
      }

      #underline {
        width: 97%;
      }
    }

    .profile-image-area {
      width: 30%;
      box-sizing: border-box;
      display: inline-block;

      #profile-image {
        float: right;
        width: 90%;
      }
    }
  }

  .purple-background {
    background-color: $background-color;
    margin: 0;
    padding-bottom: 0;
    display: inline-block;

    .highlighted-text {
      margin: 20px 0 0 0;
    }
  }

  .highlight{
    display: inline-block;
    width: max-content;
    background-size: 200% auto;
    background-image: linear-gradient(to right,$background-color 50%,$lilac 50%);
    background-position: 0 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .highlight.active{
    animation-name: highlight;
  }

  .fast {
    animation-duration: 1s;
  }

  @keyframes highlight {
    from {background-position: 0 0;}
    to {background-position: -100% 0;}
  }

  .purple-background:hover {
    transition: all 2s ease-in-out;
    //left: 0;
    box-shadow: inset 276px 0 0 0 #DDD3FC;
  }

  .h4-text {
    font-family: $base-font-family;
    font-size: max(2vw, 36px);
    line-height: max(3vw, 54px);
    font-style: normal;
    font-weight: normal;
  }

  .purple-text {
    display: inline;
    font-weight: bold;
    color: #7043AC;
  }

  .half-width {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
  }

  .spacer-div {
    margin-top: 90px;
  }
}

// Testing parallax
.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.parallax-background {
  color: #61dafb;
  transform: translateZ(-20px) scale(2.5);
  margin-left: 500px;
}

.parallax-foreground {
  margin-right: 1200px;
  color: #DDD3FC;
  transform: translateZ(-10px) scale(1);
}

.parallax-background,
.parallax-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.parallax-title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;;
}

@media screen and (max-width: 3000px){
  .work-page {
    .half-width {
      width: 33%;
    }
  }
}

@media screen and (max-width: 2400px){
  .work-page {
    .half-width {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1650px){
  .work-page {
    .half-width {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-view-max-width){
  .work-page {
    width: $default-mobile-margin-width;

    .row {
      display: block;

      .header-area {
        width: 100%;

        .welcome-header {
          font-size: max(32px, 10vw);
        }
      }

      .profile-image-area {
        width: 90%;
      }
    }
  }
}

