@import 'index';

.work-page {
  .header-outer-div {
    width: $default-margin-width;
    margin: auto;
    padding-top: 4vh;

    p {
      margin: 0;
    }
  }

  //width: $default-margin-width;
  padding: 30px 0 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;

  .down-arrow {
    z-index: 11000;
    height: fit-content;
    width: fit-content;
    transform: scale(0.5);
    position: fixed;
  }

  .row {
    display: flex;
    margin-bottom: 20px;

    .header-area {
      box-sizing: border-box;
      display: block;
      float: left;
      padding-bottom: 15px;
    }
  }

  .typewriter-wrapper-div {
    display: block;
    margin-top: 8vh;
    margin-bottom: 6vh;

    .typewriter-prefix {
      display: inline-block;
      padding-right: 0.4vw;

    }

    .wrap {
      overflow-wrap: break-word;
    }

    .typewrite {
      max-width: fit-content;
      display: inline-block;

      p {
        overflow: hidden;
        border-right: .05em solid white;
        white-space: nowrap;
        animation: typing 3.5s steps(30, start), blink-caret .75s step-end infinite;
        float: left;
      }
    }

    @keyframes typing {
      from {width: 0}
      to {width: 100%}
    }

    @keyframes blink-caret {
      from, to {border-color: transparent}
      50% {border-color: white}
    }
  }

  .half-width {
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  #case-studies-container {
    padding-top: 12vh;
    display: flex;
    width: $default-margin-width;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cards-div {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;

    img {
      display: block;
    }

    .first-active {
      opacity: 1;
      position: absolute;
      transition: all 0.25s ease-in-out;
      top: 0;
      left: 0;
    }

    .first-inactive {
      opacity: 0;
      position: relative;
      transition: all 0.25s ease-in-out;
      top: 0;
      left: 0;
    }
  }

  .cards-div:hover {
    .first-active {
      opacity: 0;
      transition: all 0.25s ease-in-out;
      transform: translateY(-10px);
    }

    .first-inactive {
      opacity: 1;
      transition: all 0.25s ease-in-out;
      transform: translateY(-10px);
    }
  }
}

@media screen and (max-width: 3000px){
  .work-page {
    .half-width {
      width: 33%;
    }
  }
}

@media screen and (max-width: 2400px){
  .work-page {
    .half-width {
      width: 48.5%;
    }
  }
}

@media screen and (max-width: 1650px){
  .work-page {
    .half-width {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-view-max-width){
  .work-page {
    width: $default-mobile-margin-width;

    .header-outer-div {
      width: $default-mobile-margin-width;
    }

    .row {
      display: block;

      .header-area {
        width: 100%;
      }

      .profile-image-area {
        width: 90%;
      }
    }
  }
}

