@import 'index';

.background {
  background-color: $off-black;
}

.work-page {
  .body-font {
    font-size: max(24px, 2.1vw);
    font-family: $manrope-font-family;
    font-weight: 300;
    line-height: 150%;
    color: $off-white;
  }

  .header-outer-div {
    width: $default-margin-width;
    margin: auto;

    p {
      margin: 0;
    }
  }

  //width: $default-margin-width;
  padding: 30px 0 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;

  .down-arrow {
    z-index: 11000;
    height: fit-content;
    width: fit-content;
    transform: scale(0.5);
    position: fixed;
  }

  .row {
    display: flex;
    margin-bottom: 20px;

    .header-area {
      box-sizing: border-box;
      display: block;
      float: left;
      padding-bottom: 15px;

      .welcome-header {
        font-size: max(32px, 8vw);
        font-family: $major-mono-display-font-family;
        color: $off-white;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
      }
    }

    .profile-image-area {
      width: 30%;
      box-sizing: border-box;
      display: inline-block;

      #profile-image {
        float: right;
        width: 90%;
      }
    }
  }

  .typewriter-wrapper-div {
    display: block;
    margin-top: 4vh;
    margin-bottom: 9vh;

    .typewriter-prefix {
      display: inline-block;
      padding-right: 0.5vw;

    }

    .wrap {
      background: linear-gradient(91.16deg, #C27193 23.24%, #EE988E 45.82%, #F5BB95 65.04%, #F5D6A2 90.07%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      overflow-wrap: break-word;
    }

    .typewrite {
      max-width: fit-content;
      display: inline-block;

      p {
        overflow: hidden;
        border-right: .05em solid white;
        white-space: nowrap;
        animation: typing 3.5s steps(30, start), blink-caret .75s step-end infinite;
        float: left;
      }

      strong {
        background: linear-gradient(91.16deg, #C27193 23.24%, #EE988E 45.82%, #F5BB95 65.04%, #F5D6A2 90.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
    }

    @keyframes typing {
      from {width: 0}
      to {width: 100%}
    }

    @keyframes blink-caret {
      from, to {border-color: transparent}
      50% {border-color: white}
    }
  }

  .h4-text {
    font-family: $base-font-family;
    font-size: max(2vw, 36px);
    line-height: max(3vw, 54px);
    font-style: normal;
    font-weight: normal;
  }

  .purple-text {
    display: inline;
    font-weight: bold;
    color: #7043AC;
  }

  .half-width {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
  }

  .spacer-div {
    margin-top: 90px;
  }

  #case-studies-container {
    padding-top: 5vh;
  }

  // Start of explore selected case studies line - https://codepen.io/pavelderschleifer/pen/jrXpgq
  html,body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
  }

  #wrapper {
    display: table;
    width:100%;
    height:100%;
  }

  #wrapper-inner {
    display: table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
  }

  #scroll-down {
    display: block;
    position: relative;
    padding-top: 6vh;
    text-align:center;
    margin-bottom: 10vh;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  #scroll-title {
    display: block;
    color: $off-white;
    font-family: $manrope-font-family;
    font-size: max(1.25vw, 20px);
    font-weight: 300;
    line-height: 150%;
    margin-top: 7.5vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  #scroll-down::before {
    -webkit-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 3s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 1px;
    height: 11vh;
    background: $off-white;
    content: ' ';
  }
  @-webkit-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @-moz-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @-o-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @keyframes elasticus {
    0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  // End of explore selected case studies line
}

@media screen and (max-width: 3000px){
  .work-page {
    .half-width {
      width: 33%;
    }
  }
}

@media screen and (max-width: 2400px){
  .work-page {
    .half-width {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1650px){
  .work-page {
    .half-width {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-view-max-width){
  .work-page {
    width: $default-mobile-margin-width;

    .header-outer-div {
      width: $default-mobile-margin-width;
    }

    .row {
      display: block;

      .header-area {
        width: 100%;

        .welcome-header {
          font-size: max(32px, 10vw);
        }
      }

      .profile-image-area {
        width: 90%;
      }
    }
  }
}

